<form (submit)="pesquisaColaborador()">
    <mat-form-field style="width:100%" [style.fontSize.px]="13">
        <mat-icon matPrefix>
            <i class="material-icons search-icon" (click)="pesquisaColaborador()">
                search
            </i>
        </mat-icon>
        <mat-label>Pesquisar colaborador (por Nome ou ID)</mat-label> 
        <input matInput name="pesquisa" [(ngModel)]="pesquisa">
    </mat-form-field>
</form>

<div>
    <table mat-table [dataSource]="colaboradores">
        <!-- Id -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>{{ displayedColumns[0] | uppercase }}</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <!-- Nome -->
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>{{ displayedColumns[1] | titlecase }}</th>
            <td mat-cell *matCellDef="let row">{{row.nome}}</td>
        </ng-container>

        <!-- Cargo -->
        <ng-container matColumnDef="cargo">
            <th mat-header-cell *matHeaderCellDef>{{ displayedColumns[2] | titlecase }}</th>
            <td mat-cell *matCellDef="let row">{{row.cargo}}</td>
        </ng-container>

         <!-- Departamento -->
         <ng-container matColumnDef="departamento">
            <th mat-header-cell *matHeaderCellDef>{{ displayedColumns[3] | titlecase }}</th>
            <td mat-cell *matCellDef="let row">{{row.departamento}}</td>
        </ng-container>

        <!-- Detalhes -->
        <ng-container matColumnDef="detalhes">
            <th mat-header-cell *matHeaderCellDef class="center"></th>
            <td mat-cell *matCellDef="let row" class="center">
                <a class="bt-detalhes" routerLink="detalhes/{{row.id}}">
                    <i class="material-icons edit">
                        folder
                    </i>
                    Detalhes
                </a>
            </td>
        </ng-container>

        <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="row-nao-encontrado" [attr.colspan]="displayedColumns.length">
                Nenhum colaborador encontrado para a pesquisa: <b>{{pesquisa}}</b>
            </td>
        </tr>
    </table>
</div>
