<mat-card class="home">
    <mat-card-title class="bem-vindo">
        Olá <span>Thiago Senna</span>,
    </mat-card-title>
    <mat-card-subtitle>
        Seja bem vindo ao Sistema de Controle de Vale Transporte. Veja abaixo alguns dos serviços que te disponibilizamos por aqui.
    </mat-card-subtitle>
</mat-card>

<mat-card class="home-card card-left">
    <img mat-card-image src="assets/img/foto-transporte1.jpg" alt="Foto">
    <mat-card-header>
        <mat-card-title-group>
        <mat-card-title>Vale Transporte</mat-card-title>
        <mat-card-subtitle>Controle com segurança todos os gastos dos seus colaboradores que possuem vale transporte, com visões mensais.</mat-card-subtitle>
        <i class="material-icons material-icons-big">
            directions_bus
        </i>
        </mat-card-title-group>
        
    </mat-card-header>
    <a class="bt-detalhes" routerLink="/colaboradores">
        Acessar
    </a>
</mat-card>

<mat-card class="home-card card-left">
    <img mat-card-image src="assets/img/foto-transporte2.jpg" alt="Foto">
    <mat-card-header>
        <mat-card-title-group>
        <mat-card-title>Colaboradores</mat-card-title>
        <mat-card-subtitle>Veja a lista de todos os colaboradores de sua empresa cadastrados no sistema, com mecanismo de pesquisa avançado.</mat-card-subtitle>
        <i class="material-icons material-icons-big">
            people
        </i>
        </mat-card-title-group>
    </mat-card-header>
    <a class="bt-detalhes" routerLink="/colaboradores">
        Acessar
    </a>
</mat-card>

<mat-card class="home-card card-left">
    <img mat-card-image src="assets/img/foto-transporte3.png" alt="Foto">
    <mat-card-header>
        <mat-card-title-group>
        <mat-card-title>Gráficos</mat-card-title>
        <mat-card-subtitle>O sistema conta com gráficos comparativos para uma melhor monitoria dos gastos de vale transporte.</mat-card-subtitle>
        <i class="material-icons material-icons-big">
            query_stats
        </i>
        </mat-card-title-group>
    </mat-card-header>
    <a class="bt-detalhes" routerLink="/colaboradores">
        Acessar
    </a>
</mat-card>

<br style="clear: both;">
<br>