.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.footer > span {
    font-size: 12px;
    font-weight: 400;
    color: #666;
    text-transform: uppercase;
}

.footer > span > b {
    font-weight: 500;
    color: #ED4E4B;
    text-transform: uppercase;
    font-size: 14px;
}