/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    background-color: #EEE;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.red {
    color: #fc5454;
}

.v-middle {
    vertical-align: middle;
}

.msg-success {
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-container-color: #28a745;
    --mdc-snackbar-supporting-text-color: #fff;
}

.msg-error {
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-container-color: #fc5454;
    --mdc-snackbar-supporting-text-color: #fff;
}

.mdc-floating-label, .mat-mdc-floating-label, .mdc-floating-label--float-above {
    color: #999 !important;
    font-size: 14px;
}

.mdc-floating-label--float-above {
    color: #ED4E4B !important;
}

.mdc-line-ripple--active::after {
    border-color: #ED4E4B !important;
}

.mat-mdc-text-field-wrapper, .mdc-text-field, .mdc-text-field--filled {
    background-color: #FFF !important;
}